<ul class="list-group " >
  <li class="list-group-item" routerLinkActive="active">
<a [routerLink]="['Bandeja de entrada']">
      Bandeja de entrada
    </a>
  </li>

  <li class="list-group-item" routerLinkActive="active">
    <a [routerLink]="['Enviados']">
      Enviado
    </a>
  </li>

  <li class="list-group-item" routerLinkActive="active">
    <a [routerLink]="['Eliminado']">
      Eliminados
    </a>
  </li>

  <li class="list-group-item" routerLinkActive="active">
    <a [routerLink]="['Nuevo']">
      Nuevo
    </a>
  </li>
</ul>
<br>